<!-- Inside templates/profile.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="main-content">
        <div class="login-container">
            <h2 class="login-title">User Profile</h2>
            <h3>Welcome, {{ user.username }}!</h3>
            <p>Name: {{ user.name }}</p>
            <p>Billing Address ID: {{ user.billing_address_id }}</p>

            <h4>Energy Consumption</h4>
            {% if user.service_locations %}
                <div class="list-group">
                    {% for service_location in user.service_locations %}
                        <div class="list-group-item">
                            {{ service_location.address }}
                            <div class="actions">
                                <a href="{{ url_for('energy_consumption', service_location_id=service_location.id, time_resolution='day') }}" class="btn btn-info btn-sm btn-info-custom">Day</a>
                                <a href="{{ url_for('energy_consumption', service_location_id=service_location.id, time_resolution='day') }}" class="btn btn-info btn-sm btn-info-custom">Month</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No Energy Consumption found.</p>
            {% endif %}

            <h4>Service Locations</h4>
            {% if user.service_locations %}
                <div class="list-group">
                    {% for service_location in user.service_locations %}
                        <div class="list-group-item">
                            {{ service_location.address }}
                            <div class="actions">
                                <a href="{{ url_for('edit_service_location', location_id=service_location.id) }}" class="btn btn-custom btn-sm">Edit</a>
                                <a href="{{ url_for('remove_service_location', location_id=service_location.id) }}" class="btn btn-custom btn-sm">Remove</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No service locations found.</p>
            {% endif %}

            <h4>Enrolled Devices</h4>
            {% if user.service_locations %}
                {% for service_location in user.service_locations %}
                    <div class="mb-4">
                        <h5>{{ service_location.address }}</h5>
                        {% if service_location.enrolled_devices %}
                            <div class="list-group">
                                {% for enrolled_device in service_location.enrolled_devices %}
                                    <div class="list-group-item">
                                        Device: {{ enrolled_device.device_model.type }} - {{ enrolled_device.device_model.model_number }}
                                        <div class="actions">
                                            <a href="#" class="btn btn-info btn-sm btn-info-custom">View Details</a>
                                                <a href="{{ url_for('remove_enrolled_device', device_id=enrolled_device.id) }}" class="btn btn-custom btn-sm">Remove</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>No enrolled devices for this service location.</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p>No service locations found.</p>
            {% endif %}

            <div class="actions">
                <a href="{{ url_for('add_service_location') }}" class="btn-primary-custom">Add Service Location</a>
                <a href="{{ url_for('enroll_device') }}" class="btn-success-custom">Enroll Device</a>
                <a href="{{ url_for('edit_profile') }}" class="btn btn-success-custom">Edit Profile</a>
                <a href="{{ url_for('logout') }}" class="btn btn-custom btn-sm">Logout</a>
            </div>

            <a href="{{ url_for('index') }}" class="back-link">Back to Home</a>
        </div>
    </div>

    <style>
        .main-content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
            margin-top: 120px;
        }

        .login-container {
            background: white;
            padding: 40px;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            width: 650px;
        }

        .login-title {
            color: #343a40;
            margin-bottom: 24px;
        }



    </style>
{% endblock %}
